<nav class="navbar navbar-default"  ng-Controller="NavBarController">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="overview">
        	<span class="glyphicon glyphicon-home"></span>
        	 PSPMS
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <!-- not auth -->
        <button class="btn btn-default navbar-btn navbar-right" ng-click="showLoginPanel()"
                ng-hide="auth.isAuthenticated()">Login</button>

        <!-- authed -->
        <ul class="nav navbar-nav navbar-right" ng-show="auth.isAuthenticated()">
            <li>
                <p class="navbar-text"><span class="glyphicon glyphicon-user"></span> {{user.name}}</p>
            </li>
            <li><a class="navbar-link" style="cursor:pointer" ng-click="logout()">Log out</a></li>
        </ul>
    </div>
</nav>

<div>
    <div class="sidebar col-md-2">
        <div class="panel panel-default">
            <!-- <div class="panel-heading">Functionality</div> -->
            <div class="list-group">
                <a class="list-group-item" ui-sref-active="active" ui-sref="overview">
                    <i class="glyphicon glyphicon-signal"></i> Overview</a>
                <a class="list-group-item" ui-sref-active="active" ui-sref="info">
                    <i class="glyphicon glyphicon-th-list"></i> Information</a>
                <a class="list-group-item" ui-sref-active="active" ui-sref="report">
                    <i class="glyphicon glyphicon-leaf"></i> Report</a>
                <a class="list-group-item" ui-sref-active="active" ui-sref="admin" ng-if="auth.isAdmin()">
                    <i class="glyphicon glyphicon-cog"></i> Manage</a>
            </div>    
        </div>
    </div>
    <div class="content col-md-offset-2 col-md-10 container-fluid" ui-view="general"></div>
</div>

<div class="alert-list">
    <alert ng-repeat="alert in alertModule.alerts" type="{{alert.type}}" close="alertModule.onClose(alert.key)">
        {{alert.msg}}
    </alert>
</div>