<div class="row">
	<div class="company-list">
		<div class="searchbox input-group">
			<input class="form-control" ng-model="filter.text" placeholder="filter...">
			<i class="glyphicon glyphicon-search"></i>
			<span class="input-group-btn">
			    <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
			</span>
		</div>
		<div class="list-group">
			<a class="list-group-item" ng-repeat="company in sortedCompanies"
			   ui-sref="info.company({companyId: {{company.companyId}}})"
			   ui-sref-active="list-group-item-info">{{company.name}}</a>
		</div>
	</div>
	<div class="company-panel">
		<div ui-view="content" class="company-content"></div>
	</div>
</div>

