<div class="company-list">
	<div class="searchbox">
		<input class="form-control" ng-model="filter.text" placeholder="filter...">
		<i class="glyphicon glyphicon-filter"></i>
	</div>
	<div class="list-group">
		<a class="list-group-item" ng-repeat="company in sortedCompanies"
		   ui-sref="info.company({companyId: {{company.companyId}}})"
		   ui-sref-active="list-group-item-info">{{company.name}} <span class="badge">{{company.projects.length}}</span></a>
	</div>
</div>
<div class="company-panel">
	<div ui-view="content" class="company-content">
		<div class="company-intro">
			Choose a company to view detail.<br>
			<span ng-if="auth.isLeader()">Or <a ui-sref='info.companyAdd'>Add a new company</a></span>
		</div>
	</div>
</div>
