body {
	/*min-width: 1200px;*/
}
a:hover{ text-decoration: none; }

/*reset navbar margin*/
.navbar {
	margin: 0;
}

.sidebar {
	position: fixed;
	top: 52px;
	left: 0;
	bottom: 0;
	padding: 0;
	background: #eee;
	width: 270px;
}

.content {
	/*padding: 0;*/
	margin-left: 270px;
}

.admin-panel {
	padding: 20px;	
}

.alert-list {
	z-index: 9999;
	position: absolute;
	top: 60px;
	right: 15px;
	width: 250px;
}

.alert-list .alert {
	margin-bottom: 10px;
}
