.company-list {
	position: fixed;
	top: 52px;
	left: 270px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	width: 270px;
}
.company-list .searchbox {
	position: fixed;
	top: 52px;
	left: 270px;
	width: 253px;
	height: 34px;
	z-index: 2;
}
.company-list .glyphicon-filter {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 3;
}
.company-list input {
	padding-left: 30px;
}
.company-list .list-group {
	padding-top: 34px;
}
.company-list .list-group-item {
	position: relative;
	padding-right: 28px;
}
.company-list .badge {
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -9px;
	margin-left: -26px;
	background: #aaa;
}

.company-panel {
	margin-left: 270px;
	padding: 10px 20px 0;
	position: relative;
	/*min-width: 600px;*/
}
.company-panel .company-content {
	/*min-width: .01%;*/
	/*overflow-x: auto;*/
}
.company-panel .fun-panel {
	margin: 10px 0 -30px 0;
	font-size: 1em;
}
.company-panel .fun-panel a {
	margin: 0 5px;
}
.company-panel .table {
	margin-top: 40px;
}

.company-panel form {
	margin-top: 40px;
	max-width: 800px;
}
.company-panel form .tooltip-inner {
	min-width: 100px;
}

.company-intro {
	margin: 200px auto;
	padding: 10px 0;
	text-align: center;
	max-width: 250px;
	background: #eee;
	border-radius: .5em;
	word-wrap: break-word;
}


@media screen and (max-width: 1372px) {
	.company-list { left: 0; }
	.company-list .searchbox { left: 0 }
}

@media screen and (max-width: 924px) {
	.company-list { display: none; }
	.company-panel { margin-left: 0 }
}