<div class="modal-body container-fluid">
    <p style="text-align:center">{{message}}</p>
    <div class="pull-right col-md-4" ng-if="style == 'confirm'">
        <button class="btn btn-primary msg-btn" style="width:70px;" ng-click="ok()">OK</button>
        <button class="btn btn-default msg-btn" style="width:70px;" ng-click="cancel()">Cancel</button>
    </div>

    <button class="btn btn-default msg-btn" style="display:block;margin:auto;" ng-click="ok()" ng-if="style == 'alert'">Confirm</button>
</div>
