<div class="modal-header">
    <!-- <button class="close" ng-click="form.close()"><span>&times;</span></button> -->
    <h4 class="modal-title">Message</h4>
</div>
<div class="modal-body container-fluid" style="text-align: center">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
	<div class="pull-right col-md-4" ng-if="style == 'confirm'">
	    <button class="btn btn-primary btn-sm" style="width:70px;" ng-click="ok()">OK</button>
	    <button class="btn btn-default btn-sm" style="width:70px;" ng-click="cancel()">Cancel</button>
	</div>

	<button class="btn btn-default btn-sm" ng-click="ok()" ng-if="style == 'alert'">Confirm</button>
</div>
